<div id="container">

    <div id="header">
        <a href="#" id="toggle"></a>
        <a href="http://www.dota2protracker.com" title="Dota2ProTracker.com" >
            <img src="/static/images/logo_new.png"/>
        </a>
    </div>

    <div id="left" class="column">
        <div id="left_head">
    Live Games With Pros
</div>