<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico.png">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/custom.js"></script>
    <meta charset="UTF-8">
    <title>Dota2ProTracker</title>
    <!--- <link rel=stylesheet type=text/css href="/static/light.css"> -->
    <link rel=stylesheet type=text/css href="/static/dark.css">
</head>

<body>

<div id="container">

    <div id="header">
        <a href="#" id="toggle"></a>
        <a href="{% url 'protracker:index' %}"  >
            <img src="/static/images/logo_new.png"/>
        </a>
    </div>

    <div id="left" class="column">
        <div id="left_head">
            Live Games With Pros
        </div>
        {% for entry in last20 %}

        <div class="live_match">

            <div class="live_match_info">
                <div>{2000} <span>avg MMR</span></div>
                
                    drafting
                
            </div>

        
            <div class="live_match_players">
                
                    <div class="live_match_player">
                        <div class="live_match_player_portrait radiant">
                            

                            
                        </div>
                        <div class="live_match_player_info radiant">
                            <div class="live_match_player_name">
                                <a href="/player/Arteezy" title="Arteezy">Arteezy</a>
                                <span>
                                    
                                        Not picked yet
                                    
                                </span>
                            </div>

                            <div class="live_match_player_stats">0/0/0</div>
                            <div class="live_match_player_level">Level 0</div>
                            <div class="live_match_player_side_icon"><img src="/static/images/radiant.png"></div>
                        </div>
                    </div>
                

                
                        <div class="live_match_player">
                            <div class="live_match_player_portrait dire">
                                

                                
                            </div>
                            <div class="live_match_player_info dire">
                                <div class="live_match_player_name">
                                    <a href="/player/Meracle" title="Meracle">Meracle</a>
                                <span>
                                        
                                            Not picked yet
                                        
                                    </span>
                                </div>

                                <div class="live_match_player_stats">0/0/0</div>
                                <div class="live_match_player_level">Level 0</div>
                                <div class="live_match_player_side_icon"><img src="/static/images/dire.png"></div>
                            </div>
                        </div>
                    
                        <div class="live_match_player">
                            <div class="live_match_player_portrait dire">
                                

                                
                            </div>
                            <div class="live_match_player_info dire">
                                <div class="live_match_player_name">
                                    <a href="/player/monkeys-forever" title="monkeys-forever">monkeys-forever</a>
                                <span>
                                        
                                            Not picked yet
                                        
                                    </span>
                                </div>

                                <div class="live_match_player_stats">0/0/0</div>
                                <div class="live_match_player_level">Level 0</div>
                                <div class="live_match_player_side_icon"><img src="/static/images/dire.png"></div>
                            </div>
                    </div>
                




        
        
            </div>
        </div>
    </div>

</div>



</body>
