<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico.png">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/custom.js"></script>
    <meta charset="UTF-8">
    <title>Dota2ProTracker</title>
    <!--- <link rel=stylesheet type=text/css href="/static/light.css"> -->
    <link rel=stylesheet type=text/css href="/static/dark.css">
</head>
{% load get_item %}
<body>

<div id="container">

    <div id="header">
        <a href="#" id="toggle"></a>
        <a href="{% url 'protracker:index' %}"  >
            <img src="/static/images/logo_new.png"/>
        </a>
    </div>

    <div id="left" class="column">
        <div id="left_head">
            Live Games With Pros
        </div>
        {% for match in livematches %}

            <div class="live_match">

                <div class="live_match_info">
                    <div>{{match.average_mmr}} <span>avg MMR</span></div>
                    
                    {% if match.game_time <= 0 %}
                        drafting
                    {% else %}
                        {{match.game_time}} 
                    {% endif %}
                    / {{match.radiant}} - {{match.dire}}
                </div>

                <div class="live_match_players">
                    {% for player in match.Pro_Players %} 
                        <div class="live_match_player">
                            {% if player.player_slot <= 4%}
                                <div class="live_match_player_portrait radiant">
                                    {% with HeroImageDict|get_item:player.hero_id as sub %}
                                        <a href="/hero/{{sub.hero}}" title= {{sub.hero}}>
                                            <img src= {{sub.vert}}>                                     
                                        </a>
                                    {% endwith %}
                                    
                                </div>
                                <div class="live_match_player_info radiant">
                                    <div class="live_match_player_name">
                                        <a href="/player/{{player.playername}}" title={{player.playername}}>{{player.playername}}</a>
                                        <span>
                                            {% with HeroImageDict|get_item:player.hero_id as sub %}
                                              {{sub.hero}}
                                            {% endwith %}                                            
                                        </span>
                                    </div>
                                    <div class="live_match_player_stats">{{player.kills}}/{{player.deaths}}/{{player.assists}}</div>
                                    <div class="live_match_player_level">Level {{player.level}}</div>
                                    <div class="live_match_player_side_icon"><img src="/static/images/radiant.png"></div>
                                </div>
                            {% else %}
                                <div class="live_match_player_portrait dire">
                                    {% with HeroImageDict|get_item:player.hero_id as sub %}
                                        <a href="/hero/{{sub.hero}}" title={{sub.hero}}>
                                            <img src= {{sub.vert}}>
                                        </a>
                                    {% endwith %}
                                </div>
                                <div class="live_match_player_info dire">
                                    <div class="live_match_player_name">
                                        <a href="/player/{{player.playername}}" title={{player.playername}}>{{player.playername}}</a>
                                        <span>
                                            {% with HeroImageDict|get_item:player.hero_id as sub %}
                                              {{sub.hero}}
                                            {% endwith %}                                        
                                        </span>
                                </div>
                                <div class="live_match_player_stats">{{player.kills}}/{{player.deaths}}/{{player.assists}}</div>
                                <div class="live_match_player_level">Level {{player.level}}</div>
                                <div class="live_match_player_side_icon"><img src="/static/images/dire.png"></div>
                            </div>
                            {% endif %}

                        </div>
                    {% endfor %}    
                </div>
                <div class="console">console: watch_server {{match.server_steam_id}}</div>
            </div>
        {% endfor %}
    </div>

    <div id="right" class="column">
        <div id="right_head">
            Recently Finished Matches -- section to be added
        </div>
    </div>

    <div id="middle" class="column">
        <div id="searchbox">
            <input type="text" id="autocomplete" placeholder="Search for player or hero">
            <div id="search_results">
            </div>
        </div>  

        <div id="hero_page" >
            <div id="hero_recent_matches">
                <div class="hero_recent_meta">
                    <h2>{{player_name}}<h2>
                    <a href="http://www.dotabuff.com/players/{{player.player_id}}" title="Dotabuff">Dotabuff</a>
                     •
                    <a href="http://www.opendota.com/players/{{player.player_id}}" title="OpenDota">OpenDota</a>
                     •
                    <a href="https://stratz.com/player/{{player.player_id}}" class="info">STRATZ</a>
                </div>
            </div>
        </div>

        
    </div>

</div>



</body>
